## Task 14: Data cleaning and preprocessing with Pandas
submitted by: Awais Anwer

In [150]:
# Identify missing values in the DataFrame.
# Drop rows with any missing values.
# Drop columns with any missing values.
# Fill missing values with a specific value.
# Fill missing values using forward fill and backward fill methods.
# Interpolate missing values.
# Convert a column to a different data type.
# Apply a function to transform the values of a column.
# Normalize a column using Min-Max scaling.
# Standardize a column (z-score normalization).
# Identify duplicate rows in the DataFrame.
# Drop duplicate rows.
# Drop duplicate rows based on specific columns.
# Convert all string values in a column to lowercase.
# Remove leading and trailing spaces from string values in a column.
# Replace a specific substring in a column with another substring.
# Extract a substring from each value in a column.
# Convert a column to datetime format.
# Extract year, month, and day from a datetime column.
# Filter rows based on a date range.
# Convert a categorical column to numerical using one-hot encoding.
# Convert a categorical column to numerical using label encoding.
# Group values in a categorical column and create a new column with grouped categories.
# Merge two DataFrames based on a common column.
# Concatenate two DataFrames vertically.
# Concatenate two DataFrames horizontally.
# Create a new column based on existing columns.
# Discretize a continuous column into bins.
# Create polynomial features from existing numerical columns.

In [151]:
import pandas as pd
import numpy as np

In [152]:
df = pd.read_csv('/content/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [154]:
# Identify missing values in the DataFrame.
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [155]:
# Drop rows with any missing values.
df.dropna(inplace=True, axis=0)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [156]:
df = pd.read_csv('/content/train.csv')
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [157]:
# Drop columns with any missing values.
df.dropna(inplace=True, axis=1)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [158]:
# Fill missing values with a specific value.
df = pd.read_csv('/content/train.csv')
df['Age'].fillna(df['Age'].mean(), inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [159]:
df['Cabin'].fillna('Unknown', inplace=True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [161]:
df.dropna(inplace=True, axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [162]:
# Fill missing values using forward fill and backward fill methods.
df = pd.read_csv('/content/train.csv')
df['Age'].fillna(method='ffill', inplace=True)
df['Age'].fillna(method='bfill', inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [163]:
# Interpolate missing values.
df = pd.read_csv('/content/train.csv')
df['Age'].interpolate(method='linear', inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [164]:
df = pd.read_csv('/content/train.csv')
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Cabin'].fillna('Unknown', inplace=True)
df.dropna(inplace=True, axis=0)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [166]:
# Convert a column to a different data type.
# Age column is float. i am converting it to int
df['Age'] = df['Age'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    int64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        889 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 90.3+ KB

In [167]:
# Apply a function to transform the values of a column.
# lowercase the name column
df['Name'] = df['Name'].str.lower()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"braund, mr. owen harris",male,22,1,0,A/5 21171,7.2500,Unknown,S
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"heikkinen, miss. laina",female,26,0,0,STON/O2. 3101282,7.9250,Unknown,S
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"allen, mr. william henry",male,35,0,0,373450,8.0500,Unknown,S

In [168]:
# Normalize a column using Min-Max scaling.

## Normalize the Fare column
df['Fare'] = (df['Fare'] - df['Fare'].min()) / (df['Fare'].max() - df['Fare'].min())
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"braund, mr. owen harris",male,22,1,0,A/5 21171,0.014151,Unknown,S
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",female,38,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"heikkinen, miss. laina",female,26,0,0,STON/O2. 3101282,0.015469,Unknown,S
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",female,35,1,0,113803,0.103644,C123,S
4,5,0,3,"allen, mr. william henry",male,35,0,0,373450,0.015713,Unknown,S

In [169]:
# Standardize a column (z-score normalization).

## Standardize the Age column
df['Age'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"braund, mr. owen harris",male,-0.577698,1,0,A/5 21171,0.014151,Unknown,S
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",female,0.655002,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"heikkinen, miss. laina",female,-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,S
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",female,0.423871,1,0,113803,0.103644,C123,S
4,5,0,3,"allen, mr. william henry",male,0.423871,0,0,373450,0.015713,Unknown,S

In [170]:
# Identify duplicate rows in the DataFrame.
df.duplicated().sum()

0

In [171]:
# Drop duplicate rows.
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [172]:
# Drop duplicate rows based on specific columns.
df.drop_duplicates(subset=['Name', 'Age'], inplace=True)
df.duplicated().sum()

0

In [173]:
# Convert all string values in a column to lowercase.
df['Name'] = df['Name'].str.lower()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"braund, mr. owen harris",male,-0.577698,1,0,A/5 21171,0.014151,Unknown,S
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",female,0.655002,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"heikkinen, miss. laina",female,-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,S
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",female,0.423871,1,0,113803,0.103644,C123,S
4,5,0,3,"allen, mr. william henry",male,0.423871,0,0,373450,0.015713,Unknown,S

In [174]:
# Remove leading and trailing spaces from string values in a column.
df['Name'] = df['Name'].str.strip()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"braund, mr. owen harris",male,-0.577698,1,0,A/5 21171,0.014151,Unknown,S
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",female,0.655002,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"heikkinen, miss. laina",female,-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,S
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",female,0.423871,1,0,113803,0.103644,C123,S
4,5,0,3,"allen, mr. william henry",male,0.423871,0,0,373450,0.015713,Unknown,S

In [175]:
# Replace a specific substring in a column with another substring.
df['Name'] = df['Name'].str.replace('mr.', 'Mr.')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"braund, Mr. owen harris",male,-0.577698,1,0,A/5 21171,0.014151,Unknown,S
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",female,0.655002,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"heikkinen, miss. laina",female,-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,S
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",female,0.423871,1,0,113803,0.103644,C123,S
4,5,0,3,"allen, Mr. william henry",male,0.423871,0,0,373450,0.015713,Unknown,S

In [176]:
# Extract a substring from each value in a column.
df['Name'].str.extract('([A-Za-z]+)')

             0
0       braund
1      cumings
2    heikkinen
3     futrelle
4        allen
..         ...
886   montvila
887     graham
888   johnston
889       behr
890     dooley

[889 rows x 1 columns]

In [177]:
# Convert a column to datetime format.
## for this, is am loading another dataset
covid = pd.read_csv('/content/covid_india.csv')
covid.head()

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

In [178]:
covid['Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 16336 entries, 0 to 16335
Series name: Date
Non-Null Count  Dtype
--------------  -----
16336 non-null  object
dtypes: object(1)
memory usage: 127.8+ KB

In [179]:
# Convert a column to datetime format.
covid['Date'] = pd.to_datetime(covid['Date'])
covid['Date'].dtype

dtype('<M8[ns]')

In [180]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16336 entries, 0 to 16335
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          16336 non-null  datetime64[ns]
 1   State         16336 non-null  object
 2   TotalSamples  16336 non-null  float64
 3   Negative      6969 non-null   object
 4   Positive      5662 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 638.2+ KB

In [181]:
# Extract year, month, and day from a datetime column.
covid['Year'] = covid['Date'].dt.year
covid['Month'] = covid['Date'].dt.month
covid['Day'] = covid['Date'].dt.day
covid.head()

,Date,State,TotalSamples,Negative,Positive,Year,Month,Day
0,2020-04-17,Andaman and Nicobar Islands,1403.0,1210,12.0,2020,4,17
1,2020-04-24,Andaman and Nicobar Islands,2679.0,NaN,27.0,2020,4,24
2,2020-04-27,Andaman and Nicobar Islands,2848.0,NaN,33.0,2020,4,27
3,2020-05-01,Andaman and Nicobar Islands,3754.0,NaN,33.0,2020,5,1
4,2020-05-16,Andaman and Nicobar Islands,6677.0,NaN,33.0,2020,5,16

In [182]:
covid['Day of week'] = covid['Date'].dt.day_name()
covid.head()

,Date,State,TotalSamples,Negative,Positive,Year,Month,Day,Day of week
0,2020-04-17,Andaman and Nicobar Islands,1403.0,1210,12.0,2020,4,17,Friday
1,2020-04-24,Andaman and Nicobar Islands,2679.0,NaN,27.0,2020,4,24,Friday
2,2020-04-27,Andaman and Nicobar Islands,2848.0,NaN,33.0,2020,4,27,Monday
3,2020-05-01,Andaman and Nicobar Islands,3754.0,NaN,33.0,2020,5,1,Friday
4,2020-05-16,Andaman and Nicobar Islands,6677.0,NaN,33.0,2020,5,16,Saturday

In [183]:
# Filter rows based on a date range.
covid = covid[(covid['Date'] >= '2020-01-01') & (covid['Date'] <= '2020-12-31')]

In [184]:
covid.head()

,Date,State,TotalSamples,Negative,Positive,Year,Month,Day,Day of week
0,2020-04-17,Andaman and Nicobar Islands,1403.0,1210,12.0,2020,4,17,Friday
1,2020-04-24,Andaman and Nicobar Islands,2679.0,NaN,27.0,2020,4,24,Friday
2,2020-04-27,Andaman and Nicobar Islands,2848.0,NaN,33.0,2020,4,27,Monday
3,2020-05-01,Andaman and Nicobar Islands,3754.0,NaN,33.0,2020,5,1,Friday
4,2020-05-16,Andaman and Nicobar Islands,6677.0,NaN,33.0,2020,5,16,Saturday

In [185]:
# Convert a categorical column to numerical using one-hot encoding.
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"braund, Mr. owen harris",male,-0.577698,1,0,A/5 21171,0.014151,Unknown,S
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",female,0.655002,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"heikkinen, miss. laina",female,-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,S
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",female,0.423871,1,0,113803,0.103644,C123,S
4,5,0,3,"allen, Mr. william henry",male,0.423871,0,0,373450,0.015713,Unknown,S

In [186]:
# convert sex (categorical column) to numerical using one-hot encoding
df = pd.get_dummies(df, columns=['Sex'])
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1,0,3,"braund, Mr. owen harris",-0.577698,1,0,A/5 21171,0.014151,Unknown,S,False,True
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",0.655002,1,0,PC 17599,0.139136,C85,C,True,False
2,3,1,3,"heikkinen, miss. laina",-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,S,True,False
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",0.423871,1,0,113803,0.103644,C123,S,True,False
4,5,0,3,"allen, Mr. william henry",0.423871,0,0,373450,0.015713,Unknown,S,False,True

In [187]:
# Convert a categorical column to numerical using label encoding.
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [188]:
# Convert Embarked(Categorical column) to numerical using label encoding manually
df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1,0,3,"braund, Mr. owen harris",-0.577698,1,0,A/5 21171,0.014151,Unknown,0,False,True
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",0.655002,1,0,PC 17599,0.139136,C85,1,True,False
2,3,1,3,"heikkinen, miss. laina",-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,0,True,False
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",0.423871,1,0,113803,0.103644,C123,0,True,False
4,5,0,3,"allen, Mr. william henry",0.423871,0,0,373450,0.015713,Unknown,0,False,True

In [189]:
# Group values in a categorical column and create a new column with grouped categories.
df['Pclass'].value_counts()

Pclass
3    491
1    214
2    184
Name: count, dtype: int64

In [190]:
df['Pclass_Des'] = df['Pclass'].map({1: 'Upper', 2: 'Middle', 3: 'Lower'})
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Pclass_Des
0,1,0,3,"braund, Mr. owen harris",-0.577698,1,0,A/5 21171,0.014151,Unknown,0,False,True,Lower
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",0.655002,1,0,PC 17599,0.139136,C85,1,True,False,Upper
2,3,1,3,"heikkinen, miss. laina",-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,0,True,False,Lower
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",0.423871,1,0,113803,0.103644,C123,0,True,False,Upper
4,5,0,3,"allen, Mr. william henry",0.423871,0,0,373450,0.015713,Unknown,0,False,True,Lower

In [191]:
df['Name'] = df['Name'].str.lower()

In [192]:
# creating new dataframe to merge
df_title = pd.DataFrame(df['PassengerId'])
df_title['title'] = df['Name'].str.extract(r',\s*(mr|mrs|miss|ms|dr|rev|col|major|capt|sir|lady|countess|jonkheer|don|mme|mlle|ms|dona)\.')
df_title.head()
df_title['title'].value_counts()

title
mr          517
miss        181
mrs         124
dr            7
rev           6
major         2
mlle          2
col           2
don           1
mme           1
ms            1
lady          1
sir           1
capt          1
jonkheer      1
Name: count, dtype: int64

In [193]:
df_title.to_csv('df_title.csv', index=False)

In [194]:
df_title.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   title        848 non-null    object
dtypes: int64(1), object(1)
memory usage: 20.8+ KB

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Ticket       889 non-null    object
 8   Fare         889 non-null    float64
 9   Cabin        889 non-null    object
 10  Embarked     889 non-null    int64
 11  Sex_female   889 non-null    bool
 12  Sex_male     889 non-null    bool
 13  Pclass_Des   889 non-null    object
dtypes: bool(2), float64(2), int64(6), object(4)
memory usage: 92.0+ KB

In [196]:
# Merge two DataFrames based on a common column.
df = pd.merge(df, df_title, on='PassengerId')
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Pclass_Des,title
0,1,0,3,"braund, mr. owen harris",-0.577698,1,0,A/5 21171,0.014151,Unknown,0,False,True,Lower,mr
1,2,1,1,"cumings, mrs. john bradley (florence briggs th...",0.655002,1,0,PC 17599,0.139136,C85,1,True,False,Upper,mrs
2,3,1,3,"heikkinen, miss. laina",-0.269523,0,0,STON/O2. 3101282,0.015469,Unknown,0,True,False,Lower,miss
3,4,1,1,"futrelle, mrs. jacques heath (lily may peel)",0.423871,1,0,113803,0.103644,C123,0,True,False,Upper,mrs
4,5,0,3,"allen, mr. william henry",0.423871,0,0,373450,0.015713,Unknown,0,False,True,Lower,mr

In [199]:
# Concatenate two DataFrames vertically.

In [200]:
#splitting df dataset
df_train = df.iloc[:400]
df_test = df.iloc[400:]

In [203]:
# concatenating both
df_total = pd.concat([df_train, df_test])
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Age          889 non-null    float64
 5   SibSp        889 non-null    int64
 6   Parch        889 non-null    int64
 7   Ticket       889 non-null    object
 8   Fare         889 non-null    float64
 9   Cabin        889 non-null    object
 10  Embarked     889 non-null    int64
 11  Sex_female   889 non-null    bool
 12  Sex_male     889 non-null    bool
 13  Pclass_Des   889 non-null    object
 14  title        848 non-null    object
dtypes: bool(2), float64(2), int64(6), object(5)
memory usage: 92.2+ KB

In [204]:
# Concatenate two DataFrames horizontally.
df.drop(columns=['title'], inplace=True)
df_total = pd.concat([df, df_title], axis=1)
df_total.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Pclass_Des,PassengerId,title
0,1.0,0.0,3.0,"braund, mr. owen harris",-0.577698,1.0,0.0,A/5 21171,0.014151,Unknown,0.0,False,True,Lower,1.0,mr
1,2.0,1.0,1.0,"cumings, mrs. john bradley (florence briggs th...",0.655002,1.0,0.0,PC 17599,0.139136,C85,1.0,True,False,Upper,2.0,mrs
2,3.0,1.0,3.0,"heikkinen, miss. laina",-0.269523,0.0,0.0,STON/O2. 3101282,0.015469,Unknown,0.0,True,False,Lower,3.0,miss
3,4.0,1.0,1.0,"futrelle, mrs. jacques heath (lily may peel)",0.423871,1.0,0.0,113803,0.103644,C123,0.0,True,False,Upper,4.0,mrs
4,5.0,0.0,3.0,"allen, mr. william henry",0.423871,0.0,0.0,373450,0.015713,Unknown,0.0,False,True,Lower,5.0,mr

In [ ]:
# Create a new column based on existing columns.
## already done

In [208]:
df = pd.read_csv('/content/train.csv')
# Discretize a continuous column into bins.
df['Age_bins'] = pd.cut(df['Age'], bins=[0, 18, 30, 60, 80])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_bins
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(18, 30]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(30, 60]"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(18, 30]"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"(30, 60]"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"(30, 60]"

In [207]:
# Create polynomial features from existing numerical columns.
df['Age_squared'] = df['Age'] ** 2
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_bins,Age_squared
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"(18, 30]",484.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"(30, 60]",1444.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"(18, 30]",676.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"(30, 60]",1225.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"(30, 60]",1225.0